# Ignore python files
__pycache__
.mypy_cache

# Ignore dev kicad files
*-backups
fp-info-cache
_autosave*

# Ignore IDEs/editors
.vscode
.idea

# Ignore build
build
dist
Prusaman.egg-info
*.eggs
*.pyc

# Ignore venv
venv

# Ignore testproject
testproject

.envrc

testbank
